<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>database</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>{{title|default:'Broke it'}}</h1>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-2 ">
            {% for director in directors %}

            <div class="col">
                <div class="card">
                    <img src="https://place-hold.it/300x200" class="card-img-top" alt="hee hee">
                    <div class="card-body">
                        <h5 class="card-title">{{director.name}}
                            {% if director.birth_year %}
                            &ndash; {{director.birth_year}}</h5>
                        {% endif %}
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet diam sapien. Fusce tristique facilisis odio, eu aliquet dui egestas nec. Aliquam congue ac diam non facilisis. Sed gravida ipsum in volutpat suscipit. Proin sit amet purus sit amet est tempus dapibus eu at quam. Sed gravida tellus ornare consectetur pellentesque. Ut eleifend massa eu risus feugiat, et varius est dignissim.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">hee hee</a>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>
</body>

</html>